// - - - - - - - - - - - - - - - - - -

// About

// - - - - - - - - - - - - - - - - - -

.tech {
    margin: $grid-spacing;
}

.user {
    text-align: center;
    font-size: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
        max-width: 90%;
        font-size: $p-medium;
    }
    h2 {
        margin-bottom: 16px;
    }
    @include mq(tabletp) {
        flex-wrap: nowrap;
        font-size: $grid-item-title-medium + 40px;
    }

    @include mq(laptop) {
        flex-wrap: nowrap;
        font-size: $grid-item-title-large + 40px;
    }

}